body {
  font-size: 100%;
  background: #ffffff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 85px;
  height: 85px;
}

.header-text {
  line-height: 85px;
  margin-right: 270px;
}

.header-text p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #000000;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  margin-top: 30px;
  margin-bottom: 27px;
}

.header-menu {
  margin-top: 20px;
  margin-bottom: 27px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.header-menu-item {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  margin: 0 10px;
  text-decoration: none;
}

.header-menu-item:hover {
  color: #0B60B0;
}

.container-main {
  display: flex;
  justify-content: center;
  width: 98%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.text {
  padding-right: 30px;
  width: 40%;
  text-align: center;
}

.text h1 {
  margin-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000000;
  font-weight: 450;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  margin-bottom: 25px;
}

.text h1 span {
  color: #0B60B0;
  font-weight: 650;
  font-size: 52px;
  line-height: 1;
  letter-spacing: 1px;
}

.text p {
  text-align: center;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #000000;
  font-weight: 190;
  font-size: 18px;
  margin-bottom: 25px;
}

.sobre-button-container {
  text-align: center;
}

.sobre-button {
  padding: 8px 18px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 12px;
}

.sobre-button:hover {
  background-color: #0B60B0;
  color: white;
}

.images-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.images-row img {
  width: 170px;
  height: auto;
  border-radius: 8%;
  margin: 2px;
}


/* Estilos para o conteúdo */
.container-content {
  margin: 0 -155px;
  background-color: #f4f4f4;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 40px;
}

.column {
  flex: 1 1 300px;
  padding: 20px;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}

.column h2 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #0B60B0;
  font-weight: 350;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.column h2 span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.1px;
}

.column p,
.column li,
.column h5 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #000000;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.column h5 span {
  color: #0B60B0;
}

.column img {
  max-width: 100%;
  height: auto;
}

.no-link-style {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para o formulário */
.container-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 200px;
  margin-top: 200px;
}

.left-column {
  width: 100%;
  max-width: 440px;
  box-sizing: border-box;
}

.right-column {
  width: 80%;
  max-width: 440px;
  box-sizing: border-box;
}

.right-column p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000000;
  font-weight: 150;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.form-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

.form-title span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #0B60B0;
  font-weight: 550;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}



.form-group input,
button,
textarea {
  width: calc(100% - 20px);
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 1px;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para o rodapé */
footer {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

footer p {
  margin: 0;
}

footer a {
  color: #0B60B0;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}


/* Estilos para o sobre */
.background-image-container {
  background-attachment: fixed;
  margin: 0px -160px;
  background-image: url(image_aboutUS/cover4.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.image {
  width: 50%;
  box-sizing: border-box;
}

.image img {
  width: 100%;
  height: auto;
}

.details {
  background-color: #ffffff;
  width: 100%;
}

.container-about-us,
.container-about-us-g {
  overflow: hidden;
  margin: 0px -150px;
  padding: 0px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-about-us-g {
  height: 700px;
  display: flex;
  flex-direction: column;
}

.left,
.right {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.right img {
  width: 100%;
  height: auto;
}

.left img {
  width: 100%;
  height: auto;
}

.details h2 {
  color: #0B60B0;
  font-family: 'lucida grande', 'lucida sans unicode', Arial, sans-serif;
  font-size: 26px;
}

.details p {
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 18px;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.row:nth-child(odd) .left {
  order: 1;
}

.row:nth-child(odd) .right {
  order: 2;
}

.row:nth-child(even) .left {
  order: 2;
}

.row:nth-child(even) .right {
  order: 1;
}

/* Estilos para cards */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  margin-top: 200px;
  margin-bottom: 250px;
}

.logo {
  width: 75px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 40px;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(25% - 10px);
  min-width: 10rem;
  margin: 2px;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  font-size: 1.5rem;
}

.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  font-size: 1.5rem;
}

.front:after {
  background-color: #f4f4f4f4;
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, #0B60B0 0%, #478dce 100%);
  color: #fff;
  transform: rotateY(180deg);
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.inner {
  font-family: 'lucida grande', 'lucida sans unicode', Arial, sans-serif;
  font-size: 15px;
}

.inner p {
  margin-top: 25px;
  font-size: 13px;
  white-space: normal;
  word-wrap: break-word;
  margin-right: 2px;
  margin-left: 2px;
}

.logo {
  width: 75px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 40px;
}


.front h1 {
  margin-top: 18px;
  font-weight: 200px;
  font-family: 'lucida grande', 'lucida sans unicode', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  color: black;
}


/* responsividade */

@media screen and (max-width: 1024px) {
  .container-content {
    margin: 0 
  }

  .col {
    width: calc(33.333333% - 2rem);
  }

  .left-column {
    width: 45%;
    margin-bottom: 200px;
  }

  .right-column {
    width: 50%;
  }

  .inner p {
    font-size: 11px;
  }

  .inner h1 {
    font-size: 14px;
  }

}

@media screen and (max-width: 850px) {
  .col {
    width: calc(50% - 2rem);
  }

  
  .inner p {
    font-size: 10px;
  }

  .inner h1 {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .container-content {
    margin: 0;
  }

  .container-main {
    width: 480px;
  }

  .header {
    flex-direction: column;
  }

  .header-text {
    margin: 10px 0;
  }

  .text h1 {
    font-size: 16px;
  }

  .text h1 span {
    font-size: 32px;
  }

  .text p {
    font-size: 12px;
  }

  .images-row img {
    width: 100px;
  }

  .column {
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  .container-content {
    padding-left: 0;
    padding-right: 0;

  }

  .col {
    width: calc(100% - 16px);
  }

  .sobre-button {
    font-size: 12px;
    padding: 10px 20px;
  }

  .container-info {
    display: flex;
    width: 480px;
    margin: 50px auto;
    align-items: center;
    justify-content: center;
  }

  .left-column {
    width: 35%;
    margin-bottom: 300px;
  }

  .right-column {
    width: 45%;
    height: auto;
  }

  .col {
    width: calc(50% - 2rem);
  }

  
}

@media screen and (max-width: 512px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header-text {
    margin: 10px 0;
  }

  .header-menu {
    flex-direction: column;
    align-items: center;
  }

  .header-menu-item {
    margin: 5px 0;
  }


  .text h1 {
    font-size: 14px;
  }

  .text h1 span {
    font-size: 30px;
  }

  .text p {
    font-size: 10px;
  }

  .images-row img {
    width: 90px;
  }

  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }

  .left-column {
    width: 45%;
    margin-right: 20px;
  }

  .right-column {
    width: 45%
  }
}