body {
  font-size: 100%;
  background: #ffffff;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  padding: 20px;
  overflow: hidden; 
  background-color: #fff; 
}

.header-logo {
  width: 85px;
  height: 85px;
  float: left; 
}

.header-text {
  float: left; 
  margin-left: 20px;
  line-height: 85px; 
}

.header-text p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  color: #000000;
  font-weight: 200;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  margin-bottom: 27px;
  margin-top: 30px;
}

.header-menu {
  float: right; 
  margin-top: 20px; 
  margin-bottom: 27px;
}

.header-menu-item {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  margin: 0 10px; 
  display: inline-block; 
}

.header-menu-item:hover {
  color: #0B60B0;
}


#container {
  width: 1080px;
  margin: 0 auto;
  padding: 0 50px;
}

.container-main {
  overflow: hidden; 
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.text {
  float: left;
  padding-right: 20px;
  width: 400px;
}

.text h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  margin-bottom: 45px;
  
}

.text h1 span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #0B60B0;
  font-weight: 650;
  font-size: 60px;
  line-height: 1.15;
  letter-spacing: 1px;
}

.text p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #000000;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 40px;
}

.sobre-button {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.sobre-button:hover {
  background-color: #0B60B0;
}

.images-row {
  float: right;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
}

.images-row img {
  width: 185px;
  height: auto;
  border-radius: 5%;
  display: inline-block;
  margin: 2px;
}


/* estilização cards */
/* estilização cards */
/* estilização cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 5px;
  margin-bottom: 100px;
  margin-left: 43px;
}

section {
  width: 400px;
  margin-right: 50px;
}


.logo {
  width: 85px; 
  height: 88px; 
  margin-bottom: 10px; 
  margin-top: 40px;
}

.face {
  border: 1px solid #b4b2b2; 
  text-align: center; 
  width: 240px; 
  height: 240px; 
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5%;
  
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 700ms;
  backface-visibility: hidden;
  display: block;
  border-radius: 5%;
 
}

.front {
  background-color: #f4f4f4;
  border-radius: 5%;
}

.front h2 {
  margin-top: 18px;
  font-family: 'lucida grande', 'lucida sans unicode', Arial, sans-serif;
  font-size : 20px;
}

.back {
  background-color: #0B60B0;
  transform: rotateY(-180deg);
  color: white;
}

.back h2 {
  margin-top: 30px;
  font-family: 'lucida grande', 'lucida sans unicode', Arial, sans-serif;
  font-size : 18px;
  
}
.back p {
  margin-top: 15px;
  font-family: 'lucida grande', 'lucida sans unicode', Arial, sans-serif;
  font-size : 15px;
}


.face:hover {
  transform: rotateY(180deg);

}

/* Estilos para o conteúdo */
/* Estilos para o conteúdo */
/* Estilos para o conteúdo */
.container-content {
  padding-bottom: 50px;
  background-color: #f4f4f4;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
  margin: 0px -150px;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
}

.row {
  width: 100%;
  display: table;
  margin-bottom: 60px;
  margin-top: 50px
}

.column {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
}

.column h2 {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #000000;
  font-weight: 350;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  color: #0B60B0;

}

.column h2 span{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.1px;
} 

.column li {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #000000;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
} 

.column p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #000000;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
} 

.column h5 {font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #000000;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
}

.column h5 span {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #0B60B0;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 25px;
} 

.column img {
  margin-top: 100px;
  width: 500px;
  height: auto;
}

.no-link-style {
  color: inherit; 
  text-decoration: none; 
  cursor: pointer; 
}


/* Estilos para o formulario */
/* Estilos para o formulario */
/* Estilos para o formulario */
.container-info {
  display: table;
  width: 1080px;
  margin-bottom: 80px;
  margin-top: 100px;
}

.right-column .form-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000000;
  font-weight: 200;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 25px;
  letter-spacing: 1px;
}

.form-title span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #0B60B0;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 0.2px;
}

.right-column p {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  color: #000000;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 25px;
}


.left-column, .right-column {
  display: table-cell;
  vertical-align: top;
  padding: 20px;
}

.left-column {
  width: 440px;
  margin-top: 15px;
}

.right-column {
  box-sizing: border-box;
  float: left; 
  margin-top: 5px;
  margin-left: 30px;
  width: 500px;
  margin-bottom: 30px;
}

.icon-row01, .icon-row02, .icon-row03 {
  overflow: hidden; 
  margin-bottom: 20px;
  margin-left: 60px;
  margin-top: 5px;
}
.icon-row01 img {
  width: 410px;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.icon-row02 img {
  width: 330px;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.icon-row03 img {
  width: 260px;
  height: auto;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.form-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  color: #000000;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.8px;
}

.form-group input,
button,
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}





/* estilização footer */
/* estilização footer */
/* estilização footer */
footer {
  clear: both;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

footer>p a {
  padding: 2px 10px;
  color: #000000;
}

footer>p a:hover {
  color: #0B60B0;
}



/** estilização Sobre */
/** estilização Sobre */
/** estilização Sobre */  

.background-image-container {
  background-attachment: fixed;
  margin: 0px -150px;
  background-image: url(image_aboutUS/cover4.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

.image {
  width: 50%;

  float: left;
  box-sizing: border-box; /
}

.image img {
  width: 100%;
  height: auto;
}

.details {
  background-color: #ffffff;
  clear: both;
  width: 100%;
}

.container-about-us, .container-about-us-g {
  overflow: hidden;
  margin: 0px -150px;
  padding: 0px 150px;
}

.container-about-us-g {
  background-color: #f4f4f4;
  height: 700px;
}

.left,
.right {
  width: 50%;
  padding: 20px;
  float: left;
  box-sizing: border-box;
}

.right img {
  padding: 20px;
  width: 100%;
  height: auto;
}

.left img {
  margin-top: 32px;
  width: 100%;
  height: auto;
}

.details h2 {
  color: #0B60B0;
  font-family: 'lucida grande', 'lucida sans unicode', Arial, sans-serif;
  font-size: 26px;
}

.details p {
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  font-size: 20px;
}